@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:ital@0;1&display=swap");
h1 {
	font-size: 72px;
	font-family: "PT Serif", serif;
	font-style: italic;
}
h1::after {
	content: "";
    display: block;
    width: 40%;
    height: 3px;
    background: linear-gradient(
360deg
, #a103c9, #7a00ff, #0000);
    margin: 10px auto;
}
blockquote {
	font-size: 18px;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 52px;
	}
}